.full-width-banner {
  background-image: url('https://source.unsplash.com/random');
  text-align: center;
}

.wrapper {
  text-align: center;
  width: 300px;
  margin: 0 auto;
}

.banner h1 {
  font-size: 38px;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h1 {
  color: #FFFFFF;
  font-size: 38px;
}

.full-width-banner h2 {
  color: #FFFFFF;
  font-size: 30px;
  font-family: Lora, serif;
}

.full-width-banner p {
  font-family: Lora, serif;
  font-size: 30px;
}
